body {
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background-color: antiquewhite;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li ::first-letter {
  text-transform: capitalize;
}

.weather-temperature img {
  margin-right: 5px;
  margin-block-start: 1;
  height: 90px;
  width: 90px;
  margin-top: -50px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: -1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -35px;
}
.forecast {
  margin-block-start: 25px;
  margin-left: 35px;
}
.day {
  margin-left: -28px;
  margin-top: -1px;
}
.gitlink {
  text-decoration: none;
  text-align: center;
}
.active {
  text-decoration: none;
  color: black;
  cursor: default;
}
.active :hover {
  text-decoration: none;
}
.farn {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-minimum {
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px;
}
